
body
{
	font-family : Century Gothic;
	text-align : justify;
	background-color :  #EEEEEE;
}
table
{
    border-collapse: collapse;
	margin: auto;
	width:100%;
	text-align: center;
	border: 1px solid gray;
}
td
{
	background-color:#DCDCDC;
	border: 1px solid gray;
}
th 
{
	background-color: #375D81;
	border: 1px solid gray;
}
td.column1
{
	width: 50%;
}
td.column2
{
	width: 25%;
}
td.column3
{ 
	width : 25%;
}

tr:hover td
{
    background-color:#54616c;
}
input.bouton{
	 margin : auto
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #000;
     background: #444;
}
bouton:hover{
     color: #222;
     background: #555;
     background: linear-gradient( #777, #333);
}
bouton:active{
     color: #000;
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}
input.icones
{
display: inline-block;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* W3C */
border: 1px solid #a1a1a1;
padding: 0 2em;
margin: 0.5em;
font: bold 1em/2em Arial, Helvetica;
text-decoration: none;
color: #333;
-moz-border-radius: .2em;
-webkit-border-radius: .2em;
border-radius: .2em;
}
icones:before{
float: left;
width: 1em;
text-align: center;
font-size: 1.7em;
margin: 0 0.5em 0 -1em;
padding: 0 .2em;
pointer-events: none;
content: "\271A";
}
.add:before    { content: "\271A"; }
.edit:before   { content: "\270E"; }
.delete:before { content: "\2718";}
.save:before   { content: "\2714";}
.email:before  { content: "\2709";}
.cross:before  { content: "\2716";}